<!DOCTYPE html>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/insert">Insert</a>
  <a href="/search">Search</a>
  <a href="/login">Login</a>
</div>

<html lang="en">
  <head>
    <title>Update a Shoe</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
      #wideresults {
        overflow: auto;    
        scrollbar-base-color:#ffeaff;
        padding:10px !important;
        border-spacing: 10px 0 !important;
      }
      .widerow {
        white-space:nowrap !important;
      }
      .table-spacing{
        border-spacing: 10px !important;
        border-collapse: separate;
      }
    </style>
  </head>

  <body>
    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <% if (messages.success) { %>
              <p class="alert alert-success m2-4 mb-2"><%- messages.success %></p>
          <% } %>
 
          <h2>Search Results</h2>
          <div class ="card-body" id="wideresults">
            <table class="table-spacing">
              <%
              if(userData.length != 0 && action == 'Load'){
              %>
              <tr>
                <th>Name</th>
                <th class="widerow">SKU</th>
                <th>Size</th>
                <th>Status</th>
                <th>Profit</th>
                <th class="widerow">Purchase Date</th>
                <th>Purchase Price</th>
                <th class="widerow">Purchase Method</th>
                <th class="widerow">Purchase Payment Type</th>
                <th class="widerow">Sale Date</th> <!-- s.date AS sale_date, s.price AS sale_price, s.extra_fees AS extra_fees, s.method AS sale_method, s.payment_type AS sale_payment  -->
                <th>Sale Price</th>
                <th>Extra Fees</th>
                <th class="widerow">Sale Method</th>
                <th class="widerow">Sale Payment Type</th>
              </tr>
              <%
              userData.forEach(function(data){
              %>
              <tr>
                  <td><%=data.name %></td>
                  <td><%=data.SKU %></td>
                  <td><%=data.size %></td>
                  <td><%=data.status %></td>
                  <td><%=data.profit %></td>
                  <td><%=data.date %></td>
                  <td><%=data.price %></td>
                  <td><%=data.method %></td>
                  <td><%=data.payment %></td>
                  <td><%=data.sale_date %></td>
                  <td><%=data.sale_price %></td>
                  <td><%=data.extra_fees %></td>
                  <td><%=data.sale_method %></td>
                  <td><%=data.sale_payment %></td>
                  <td><a href="/edit/<%= data.dataid %>" class="btn btn-primary btn-sm">Edit</a></td>
                  <td><a href="/delete/<%= data.dataid %>" class="btn btn-primary btn-sm">Delete</a></td>
              </tr>
              <% }) %>
              <% } else if(action == 'Edit') { %>
            
              </div>
              </ br>
              <div class="card-body">
                <form action="/edit/<%= userData.dataid %>" method="POST">

                  <div>
                    <img src="<%= apiData.thumbnailURL%>" alt="No image found" style="width:800px;height:600px">
                  </div>
                  <div class="form-group">
                    <label for="name">Shoe Name (Full) (cannot be changed)<span style="color: red">*</span></label>
                    <input type="text" class="form-control col-lg-9" id="name" aria-describedby="emailHelp" placeholder="Shoe Name (Full)" name="name" value="<%= userData.name%>" readonly>
                  </div>
      
                  <div class="form-group">
                    <label for="color">SKU (cannot be changed)<span style="color: red">*</span></label>
                    <input type="text" class="form-control col-lg-9" id="SKU" aria-describedby="emailHelp" placeholder="SKU" name="SKU" value="<%= userData.SKU%>" readonly>
                  </div>
      
                  <div class="form-group">
                    <label for="size">Shoe Size<span style="color: red">*</span></label>
                    <input type="text" class="form-control col-lg-9" id="size" aria-describedby="emailHelp" placeholder="Shoe Size" name="size" value="<%= userData.size %>">
                  </div>
      
                  <div class="form-group">
                    <label for="status">Shoe Status<span style="color: red">*</span></label>
      
                    <select id="status" name="status">
                      <option value="In stock">In stock</option>
                      <option value="Coming soon">Coming soon</option>
                      <option value="Sale complete">Sale complete</option>
                      <option value="Cashout complete">Cashout complete</option>
                      <option value="Shipped">Shipped</option>
                      <option value="Need to ship">Need to ship</option>
                    </select> 
      
                  </div>
                  
                  <div class="form-group">
                    <label for="date">Purchase Date<span style="color: red">*</span></label>
                    <input type="date" class="form-control col-lg-9" id="date" aria-describedby="emailHelp" placeholder="Purchase Date" name="date" value="<%= userData.date %>">
                  </div>

                  <div class="form-group">
                    <label for="price">Purchase Price<span style="color: red">*</span></label>
                    <input type="number" min="0.00" max="9999.99" step="0.01" class="form-control col-lg-9" id="price" aria-describedby="emailHelp" placeholder="Purchase Price" name="price" value="<%= userData.price %>">
                  </div>
      
                  <div class="form-group">
                    <label for="method">Purchase Method<span style="color: red">*</span></label>
                    <input type="text" class="form-control col-lg-9" id="method" aria-describedby="emailHelp" name="method" placeholder="Purchase Method (IG, StockX)" value="<%= userData.method %>">
                  </div>   
                  
                  <div class="form-group">
                    <label for="payment_type">Purchase Payment Type<span style="color: red">*</span></label>
      
                    <select id="payment_type" name="payment_type">
                      <option value="Debit">Debit</option>
                      <option value="Credit">Credit</option>
                      <option value="Zelle">Zelle</option>
                      <option value="Paypal">Paypal</option>
                      <option value="Venmo">Venmo</option>
                      <option value="Cashapp">Cashapp</option>
                      <option value="Paypal g&s">Paypal g&s</option>
                      <option value="Cash">Cash</option>
                      <option value="Free">n/a</option>
                    </select>
                                
                  </div>
                  <!-- s.date AS sale_date, s.price AS sale_price, s.extra_fees AS extra_fees, s.method AS sale_method, s.payment_type AS sale_payment -->

                  <div class="form-group">
                    <label for="sale_date">Sale Date <span style="color: red">*</span></label>
                    <input type="date" class="form-control col-lg-9" id="sale_date" aria-describedby="emailHelp" placeholder="Sale Date" name="sale_date" value="<%= userData.sale_date %>">
                  </div>

                  <div class="form-group">
                    <label for="sale_price">Sale Price <span style="color: red">*</span></label>
                    <input type="number" min="0.00" max="9999.99" step="0.01" class="form-control col-lg-9" id="sale_price" aria-describedby="emailHelp" placeholder="Sale Price" name="sale_price" value="<%= userData.sale_price %>">
                  </div>

                  <div class="form-group">
                    <label for="extra_fees">Extra Fees <span style="color: red">*</span></label>
                    <input type="number" min="-9999.99" max="9999.99" step="0.01" class="form-control col-lg-9" id="extra_fees" aria-describedby="emailHelp" placeholder="Sale Extra Fees" name="extra_fees" value="<%= userData.extra_fees %>">
                  </div>

                  <div class="form-group">
                    <label for="sale_method">Sale Method<span style="color: red">*</span></label>
                    <input type="text" class="form-control col-lg-9" id="sale_method" aria-describedby="emailHelp" name="sale_method" placeholder="Sale Method (IG, StockX)" value="<%= userData.sale_method %>">
                  </div>

                  <div class="form-group">
                    <label for="sale_payment_type">Sale Payment Type<span style="color: red">*</span></label>
      
                    <select id="sale_payment_type" name="sale_payment_type">
                      <option value="Debit">Debit</option>
                      <option value="Credit">Credit</option>
                      <option value="Zelle">Zelle</option>
                      <option value="Paypal">Paypal</option>
                      <option value="Venmo">Venmo</option>
                      <option value="Cashapp">Cashapp</option>
                      <option value="Paypal g&s">Paypal g&s</option>
                      <option value="Cash">Cash</option>
                      <option value="Free">n/a</option>
                    </select>
                                
                  </div>
                  
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <script>
                  document.getElementById('status').value = "<%= userData.status %>";
                  document.getElementById('payment_type').value = decodeURIComponent("<%= userData.payment %>");
                  document.getElementById('sale_payment_type').value = decodeURIComponent("<%= userData.sale_payment %>");
                  document.getElementById('status').value = "<%= userData.status %>";
                  document.getElementById('date').value = "<%= userData.date %>";
                  document.getElementById('price').value = "<%= userData.price %>";
                  document.getElementById('sale_date').value = "<%= userData.sale_date %>";
                  document.getElementById('sale_price').value = "<%= userData.sale_price %>";
                  document.getElementById('extra_fees').value = "<%= userData.extra_fees %>";
                </script>
              </div>

              <% } else if(action == 'Delete') { %>
                <div class="card-body">
                  <form action="/delete/<%= userData.dataid %>" method="POST" onSubmit = "return confirm('Do you really want to delete this shoe?');">


  
                    <div class="form-group">
                      <label for="name">Shoe Name (Full)<span style="color: red">*</span></label>
                      <input type="text" class="form-control col-lg-9" id="name" aria-describedby="emailHelp" placeholder="Shoe Name (Full)" name="name" value="<%= userData.name%>" readonly>
                    </div>
        
                    <div class="form-group">
                      <label for="color">SKU<span style="color: red">*</span></label>
                      <input type="text" class="form-control col-lg-9" id="SKU" aria-describedby="emailHelp" placeholder="SKU" name="SKU" value="<%= userData.SKU%>" readonly>
                    </div>
        
                    <div class="form-group">
                      <label for="size">Shoe Size<span style="color: red">*</span></label>
                      <input type="text" class="form-control col-lg-9" id="size" aria-describedby="emailHelp" placeholder="Shoe Size" name="size" value="<%= userData.size %>" readonly>
                    </div>
        
                    <div class="form-group">
                      <label for="status">Shoe Status<span style="color: red">*</span></label>
        
                      <select id="status" name="status" disabled>
                        <option value="In stock">In stock</option>
                        <option value="Coming soon">Coming soon</option>
                        <option value="Sale complete">Sale complete</option>
                        <option value="Cashout complete">Cashout complete</option>
                        <option value="Shipped">Shipped</option>
                        <option value="Need to ship">Need to ship</option>
                      </select> 
        
                    </div>
                    
                    <div class="form-group">
                      <label for="date">Purchase Date<span style="color: red">*</span></label>
                      <input type="date" class="form-control col-lg-9" id="date" aria-describedby="emailHelp" placeholder="Purchase Date" name="date" value="<%= userData.date %>" readonly>
                    </div>
  
                    <div class="form-group">
                      <label for="price">Purchase Price<span style="color: red">*</span></label>
                      <input type="number" min="0.00" max="9999.99" step="0.01" class="form-control col-lg-9" id="price" aria-describedby="emailHelp" placeholder="Purchase Price" name="price" value="<%= userData.price %>" readonly>
                    </div>
        
                    <div class="form-group">
                      <label for="method">Purchase Method<span style="color: red">*</span></label>
                      <input type="text" class="form-control col-lg-9" id="method" aria-describedby="emailHelp" name="method" placeholder="Purchase Method (IG, StockX)" value="<%= userData.method %>" readonly>
                    </div>   
                    
                    <div class="form-group">
                      <label for="payment_type">Purchase Payment Type<span style="color: red">*</span></label>
        
                      <select id="payment_type" name="payment_type" disabled>
                        <option value="Debit">Debit</option>
                        <option value="Credit">Credit</option>
                        <option value="Zelle">Zelle</option>
                        <option value="Paypal">Paypal</option>
                        <option value="Venmo">Venmo</option>
                        <option value="Cashapp">Cashapp</option>
                        <option value="Paypal g&s">Paypal g&s</option>
                        <option value="Cash">Cash</option>
                        <option value="Free">n/a</option>
                      </select>
                                  
                    </div>
                    <!-- s.date AS sale_date, s.price AS sale_price, s.extra_fees AS extra_fees, s.method AS sale_method, s.payment_type AS sale_payment -->
  
                    <div class="form-group">
                      <label for="sale_date">Sale Date <span style="color: red">*</span></label>
                      <input type="date" class="form-control col-lg-9" id="sale_date" aria-describedby="emailHelp" placeholder="Sale Date" name="sale_date" value="<%= userData.sale_date %>" readonly>
                    </div>
  
                    <div class="form-group">
                      <label for="sale_price">Sale Price <span style="color: red">*</span></label>
                      <input type="number" min="0.00" max="9999.99" step="0.01" class="form-control col-lg-9" id="sale_price" aria-describedby="emailHelp" placeholder="Sale Price" name="sale_price" value="<%= userData.sale_price %>" readonly>
                    </div>
  
                    <div class="form-group">
                      <label for="extra_fees">Extra Fees <span style="color: red">*</span></label>
                      <input type="number" min="0.00" max="9999.99" step="0.01" class="form-control col-lg-9" id="extra_fees" aria-describedby="emailHelp" placeholder="Sale Extra Fees" name="extra_fees" value="<%= userData.extra_fees %>" readonly>
                    </div>
  
                    <div class="form-group">
                      <label for="sale_method">Sale Method<span style="color: red">*</span></label>
                      <input type="text" class="form-control col-lg-9" id="sale_method" aria-describedby="emailHelp" name="sale_method" placeholder="Sale Method (IG, StockX)" value="<%= userData.sale_method %>" readonly>
                    </div>
  
                    <div class="form-group">
                      <label for="sale_payment_type">Sale Payment Type<span style="color: red">*</span></label>
        
                      <select id="sale_payment_type" name="sale_payment_type" disabled>
                        <option value="Debit">Debit</option>
                        <option value="Credit">Credit</option>
                        <option value="Zelle">Zelle</option>
                        <option value="Paypal">Paypal</option>
                        <option value="Venmo">Venmo</option>
                        <option value="Cashapp">Cashapp</option>
                        <option value="Paypal g&s">Paypal g&s</option>
                        <option value="Cash">Cash</option>
                        <option value="Free">n/a</option>
                      </select>
                                  
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Delete</button>
                  </form>
                  <script>
                    document.getElementById('status').value = "<%= userData.status %>";
                    document.getElementById('payment_type').value = decodeURIComponent("<%= userData.payment %>");
                    document.getElementById('sale_payment_type').value = decodeURIComponent("<%= userData.sale_payment %>");
                    document.getElementById('date').value = "<%= userData.date %>";
                    document.getElementById('price').value = "<%= userData.price %>";
                    document.getElementById('sale_date').value = "<%= userData.sale_date %>";
                    document.getElementById('sale_price').value = "<%= userData.sale_price %>";
                    document.getElementById('extra_fees').value = "<%= userData.extra_fees %>";
                  </script>
                </div>

              <% } else { %>
                  <tr>
                      <td colspan="7">No Data Found</td>
                  </tr>
              <% } %>

            </table>
          </div>
    </div>
  </body>
</html>
